# Setup

In [1]:
import os
os.environ['OPENAI_API_KEY'] = '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'

# Creating the pool

In [ ]:
import bolift
import itertools
import cloudpickle

In [ ]:
possible_mutations = ['DhyaA', 'DhydA', 'DhyaB', 'DcymA', 'DmtrA', 'DomcA', 'DmtrC']

shewanellas = ['WT']
for k in itertools.combinations(possible_mutations, 2):
  shewanellas.append("".join(k))
for k in itertools.combinations(possible_mutations, 3):
  shewanellas.append("".join(k))

In [ ]:
props = {
  'SH_mutation': shewanellas,
  'SH_initial_conc': [0.05],
  'QD_material': ['CdS', 'CdSe', 'CdTe'],
  'QD_conc': [0.5, 1],
  'QD_Size': [510, 520, 535],
  'QD_Shape': ['spheres'], #, 'rods', 'palettes'],
  'QD_Surface': ["Nothing", "MPA (3-mercaptopropionic acid)", "GSH (glutathione)", "Cys (cystine)"],
  'MD_medium': ['minimum'],
  'MD_growth': ['anaerobic'],
  'MD_nutrient': ['lactate'],
  'MD_nutrient_conc': [20],
  'MD_shaking': [50, 100, 150],
  'MD_temperature': [5, 25, 45],
  'MD_pH': [7],
  'MD_light': [530],
  'MD_time': [1],
}


'''
The proposed experimental procedure is illustraded below:

WT Shewanella oneidensis MR-1 (inital OD600 0.05) were cultured with 1.0uM cadmium selenide quantum dots capped with 3-mercaptopropionic acid (MPA) in an
anaerobic minimal medium solution containing 20 mM lactate at 25 C. Cultures were irridated with 530nm LEDs for 1 week to yield 1.0 umol +/- 0.1 umol Hydrogen.
'''


pool_elements = []
for procedure in itertools.product(*props.values()):
  (SH_mutation,
  SH_initial_conc,
  QD_material,
  QD_conc,
  QD_Size,
  QD_Shape,
  QD_Surface,
  MD_medium,
  MD_growth,
  MD_nutrient,
  MD_nutrient_conc,
  MD_shaking,
  MD_temperature,
  MD_pH,
  MD_light,
  MD_time) = procedure
  scaffold = f"{SH_mutation} Shewanella oneidensis MR-1 (initial OD600 {SH_initial_conc}) were cultured with "\
             f"{QD_conc} uM {QD_material} quantum dots capped with {QD_Surface} "\
             f"in an {MD_growth} {MD_medium} medium solution containing {MD_nutrient_conc} mM {MD_nutrient} at {MD_temperature} ÂºC. " \
             f"Cultures were irradiated with {MD_light} nm LEDs for {MD_time} week."

  pool_elements.append(scaffold)

with open('pool.dat', 'w') as pool_file:
  pool_file.write('Procedure')
  pool_file.write('\n'.join(pool_elements))

In [ ]:
pool = bolift.Pool(pool_elements)

WARNING:langchain.embeddings.openai:Retrying langchain.embeddings.openai.embed_with_retry.<locals>._embed_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-text-embedding-ada-002 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 1000000 / min. Current: 949927 / min. Contact us through our help center at help.openai.com if you continue to have issues..
WARNING:langchain.embeddings.openai:Retrying langchain.embeddings.openai.embed_with_retry.<locals>._embed_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-text-embedding-ada-002 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 1000000 / min. Current: 935641 / min. Contact us through our help center at help.openai.com if you continue to have issues..
WARNING:langchain.embeddings.openai:Retrying langchain.embeddings.openai.embed_with_retry.<locals>._embed_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-text-embedding-ada-002 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 1000000 / min. Current: 923718 / min. Contact us through our help center at help.openai.com if you continue to have issues..
WARNING:langchain.embeddings.openai:Retrying langchain.embeddings.openai.embed_with_retry.<locals>._embed_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-text-embedding-ada-002 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 1000000 / min. Current: 945640 / min. Contact us through our help center at help.openai.com if you continue to have issues..
WARNING:langchain.embeddings.openai:Retrying langchain.embeddings.openai.embed_with_retry.<locals>._embed_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-text-embedding-ada-002 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 1000000 / min. Current: 918038 / min. Contact us through our help center at help.openai.com if you continue to have issues..
WARNING:langchain.embeddings.openai:Retrying langchain.embeddings.openai.embed_with_retry.<locals>._embed_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-text-embedding-ada-002 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 1000000 / min. Current: 934454 / min. Contact us through our help center at help.openai.com if you continue to have issues..

In [ ]:
cloudpickle.dump(pool, open("pool.pkl", "wb"))

# Generating prompts based on known data

In [2]:
import pandas as pd

# Load the Google Sheet into a Pandas DataFrame
df = pd.read_csv("BioNano Shared - exp results - formatted.csv", skiprows=[0])
df.drop(columns=df.columns[15:], inplace=True)

# Cleaning dataframe
## Remove invalid H2 values
df['H2'] = pd.to_numeric(df['H2'], errors='coerce')
df.dropna(subset=['H2'], inplace=True)
df.reset_index(drop=True, inplace=True)

## Build the mutation string
mutations = df.columns[1:8]
df[mutations] = df[mutations].astype(int)

def build_mutation(row):
  mut = ""
  for m in row.keys()[0:8]:
    if row[m] == 'Ascorbic Acid':
      mut += "Ascorbic Acid"
    else:
      mut += f"{m}" if int(row[m]) != 0 else ""
  return mut

df['mutation'] = df.apply(lambda x: build_mutation(x), axis=1)
df = df[df['mutation'] != "Ascorbic Acid"]
df.reset_index(drop=True, inplace=True)

df

,WT,DhyaA,DhydA,DhyaB,DcymA,DmtrA,DmtrC,DomcA,Starting Conc,Size,Conc,Ligand,H2,Stdev,n,mutation
0,1,0,0,0,0,0,0,0,0.05,527.0,1,MPA,20.00,"2,93",3.0,WT
1,1,0,0,0,0,0,0,0,0.05,NaN,0,MPA,10.80,0.16,2.0,WT
2,0,0,1,1,0,0,0,0,0.05,527.0,1,MPA,25.20,1.06,3.0,DhydADhyaB
3,0,0,1,1,0,0,0,0,0.05,NaN,0,MPA,0.00,0,1.0,DhydADhyaB
4,1,0,0,0,0,0,0,0,0.05,528.0,1,MPA,18.70,0.364,3.0,WT
5,0,0,1,1,0,0,0,0,0.05,528.0,1,MPA,21.90,1.62,3.0,DhydADhyaB
6,0,0,0,0,1,0,0,0,0.05,528.0,1,MPA,1.67,0.923,3.0,DcymA
7,0,0,0,0,0,1,0,0,0.05,528.0,1,MPA,4.75,0.627,3.0,DmtrA
8,0,0,0,0,0,0,1,1,0.05,528.0,1,MPA,7.17,0.141,3.0,DmtrCDomcA
9,1,0,0,0,0,0,0,0,0.05,NaN,0,NaN,6.42,5.18,2.0,WT
10,0,0,1,1,0,0,0,0,0.05,NaN,0,NaN,0.00,0,1.0,DhydADhyaB
11,0,0,0,0,1,0,0,0,0.05,NaN,0,NaN,6.65,0.455,2.0,DcymA
12,0,0,0,0,0,1,0,0,0.05,NaN,0,NaN,2.93,0.103,2.0,DmtrA
13,0,0,0,0,0,0,1,1,0.05,NaN,0,NaN,7.97,2.67,2.0,DmtrCDomcA
14,1,0,0,0,0,0,0,0,0.05,527.0,1,MPA,29.80,1.16,2.0,WT
15,1,0,0,0,0,0,0,0,0.05,NaN,0,NaN,5.01,1.65,2.0,WT
16,1,0,0,0,0,0,0,0,0.05,524.0,1,MPA,28.70,3.92,3.0,WT
17,0,0,1,1,0,0,0,0,0.05,524.0,1,MPA,34.20,2.56,3.0,DhydADhyaB
18,1,0,0,0,0,0,0,0,0.05,NaN,0,n/A,3.11,0.392,2.0,WT
19,1,0,0,0,0,0,0,0,0.05,518.0,1,MPA,7.40,3.07,3.0,WT
20,1,0,0,0,0,0,0,0,0.05,518.0,0,NaN,5.27,0.683,2.0,WT
21,1,0,0,0,0,0,0,0,0.05,517.0,1,MPA,8.38,1.35,2.0,WT
22,1,0,0,0,0,0,0,0,0.05,513.0,1,MPA,7.56,2.15,3.0,WT
23,0,0,1,1,0,0,0,0,0.05,513.0,1,MPA,7.60,4.91,3.0,DhydADhyaB
24,0,0,1,1,0,0,0,0,0.05,523.0,1,MPA,18.70,6.83,3.0,DhydADhyaB
25,1,0,0,0,0,0,0,0,0.05,523.0,1,MPA,16.68,0,1.0,WT
26,0,0,1,1,0,0,0,0,0.05,525.0,1,MPA,28.15,0,1.0,DhydADhyaB
27,1,0,0,0,0,0,0,0,0.05,529.0,1,MPA,7.09,2.94,3.0,WT
28,1,0,0,0,0,0,0,0,0.05,528.0,1,MPA,12.50,3.17,3.0,WT
29,0,0,1,1,0,0,0,0,0.05,528.0,1,MPA,20.00,3.82,3.0,DhydADhyaB
30,0,1,0,0,0,0,0,0,0.05,533.0,1,MPA,18.90,0.577,6.0,DhyaA
31,0,1,0,0,0,0,0,0,0.05,533.0,0.5,MPA,7.59,0.498,3.0,DhyaA
32,0,1,0,0,0,0,0,0,0.05,533.0,1.5,MPA,30.60,1.16,3.0,DhyaA
33,0,1,0,0,0,0,0,0,0.05,533.0,2,MPA,0.00,0,3.0,DhyaA
34,0,1,0,0,0,0,0,0,0.05,520.0,1,MPA,17.80,3.87,NaN,DhyaA
35,0,1,0,0,0,0,0,0,0.05,521.0,1,MPA,29.20,4.13,NaN,DhyaA
36,1,0,0,0,0,0,0,0,0.05,525.0,1,MPA,13.90,5.4,NaN,WT
37,0,1,0,0,0,0,0,0,0.05,525.0,1,MPA,16.10,3.5,NaN,DhyaA
38,0,1,0,0,0,0,0,0,0.05,520.0,1,MPA,22.80,NaN,NaN,DhyaA
39,1,0,0,0,0,0,0,0,0.05,527.0,1,MPA,15.80,NaN,NaN,WT
40,0,1,0,0,0,0,0,0,0.05,527.0,1,MPA,17.80,NaN,NaN,DhyaA
41,0,1,0,0,0,0,0,0,0.05,523.0,1,MPA,21.80,NaN,NaN,DhyaA
42,0,1,0,0,0,0,0,0,0.05,533.0,1,MPA,12.70,NaN,NaN,DhyaA
43,0,1,0,0,0,0,0,0,0.05,535.0,1,MPA,8.80,NaN,NaN,DhyaA
44,0,1,0,0,0,0,0,0,0.05,533.0,1,MPA,12.80,NaN,NaN,DhyaA
45,1,0,0,0,0,0,0,0,0.05,525.0,1,MPA,18.20,NaN,NaN,WT
46,0,1,0,0,0,0,0,0,0.05,525.0,1,MPA,20.80,NaN,NaN,DhyaA
47,0,1,0,0,0,0,0,0,0.05,516.0,1,MPA,52.10,NaN,NaN,DhyaA
48,0,1,0,0,0,0,0,0,0.05,518.0,1,MPA,40.20,NaN,NaN,DhyaA
49,0,1,0,0,0,0,0,0,0.05,516.0,1,MPA,47.40,NaN,NaN,DhyaA
50,1,0,0,0,0,0,0,0,0.05,525.0,1,MPA,14.10,NaN,NaN,WT
51,0,1,0,0,0,0,0,0,0.05,525.0,1,MPA,19.90,NaN,NaN,DhyaA

In [3]:

prompts, labels = [], []
for i, k in df.iterrows():
  (SH_mutation,
  SH_initial_conc,
  QD_material,
  QD_conc,
  QD_Size,
  QD_Shape,
  QD_Surface,
  MD_medium,
  MD_growth,
  MD_nutrient,
  MD_nutrient_conc,
  MD_shaking,
  MD_temperature,
  MD_pH,
  MD_light,
  MD_time) = k['mutation'], k['Starting Conc'], 'CdSe', k['Conc'], k['Size'], "espherical", k['Ligand'], 'minimal', 'anaerobic', 'lactate', '20', '100', '25', '7', '530','1'

  # shewanella = f'{mutation} Shewanella oneidensis MR-1 (initial OD600 {sh_conc})' if mutation != 'Ascorbic Acid' else f'A solution of {mutation} {sh_conc}'

  scaffold = f"{SH_mutation} Shewanella oneidensis MR-1 (initial OD600 {SH_initial_conc}) were cultured with "\
             f"{QD_conc} uM {QD_material} quantum dots capped with {QD_Surface} "\
             f"in an {MD_growth} {MD_medium} medium solution containing {MD_nutrient_conc} mM {MD_nutrient} at {MD_temperature} ÂºC. " \
             f"Cultures were irradiated with {MD_light} nm LEDs for {MD_time} week."
  label = k['H2']

  prompts.append(scaffold)
  labels.append(label)

# bo-lift

### Test prediction

In [12]:
import bolift
import cloudpickle

In [5]:
import numpy as np
indexes = np.arange(len(prompts))
np.random.shuffle(indexes)
split = (len(indexes)-5)/len(indexes)

train_indexes = indexes[:int(split*len(indexes))]
test_indexes = indexes[int(split*len(indexes)):]

In [6]:
asktell = bolift.AskTellFewShotTopk(
    prefix="The following are correctly answered questions about H2 production by Shewanella oneidensis MR-1 and quantum dots. " \
          " Each answer should be numeric and ends with ###",
    x_formatter=lambda x: f"the experimental procedure: {x}",
    y_name="H2 production",
    y_formatter=lambda y: f"{y:.2f}",
    model="gpt-4",
    selector_k=5,
    temperature=0.7
)

for i in train_indexes:
  asktell.tell(prompts[i], labels[i])

In [7]:
yhat=[]
y=[]
for i in test_indexes:
  yhat.append(asktell.predict(prompts[i]))
  y.append(labels[i])

In [8]:
for i in test_indexes:
  print(f"{prompts[i]} => {labels[i]}")

[f"{i.mean():.2f}" for i in yhat], y

DhydADhyaB Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with 1 uM CdSe quantum dots capped with MPA in an anaerobic minimal medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week. => 18.7
DhydADhyaB Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with 1 uM CdSe quantum dots capped with MPA in an anaerobic minimal medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week. => 25.2
DhydADhyaB Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with 0 uM CdSe quantum dots capped with nan in an anaerobic minimal medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week. => 0.0
WT Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with 1 uM CdSe quantum dots capped with MPA in an anaerobic minimal medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week. => 18.7
WT Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with 1 uM CdSe quantum dots capped with MPA in an anaerobic minimal medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week. => 29.8

(['27.89', '27.89', '0.00', '10.86', '10.86'], [18.7, 25.2, 0.0, 18.7, 29.8])

In [9]:
sum = 0
print(f"| {'predicted':^23s} | {'label':^10s} | {'AE':^10s} | ")
n = 0
for ihat, i in zip(yhat, y):
  if i>30: continue
  n+=1
  mae = abs(ihat.mean()-i)
  print(f"| {ihat.mean():^10.2f}+/-{ihat.std():^10.2f} | {i:^10.2f} | {mae:^10.2f} |")
  sum += mae
print(f"\n{'MAE: ':>20s}{sum/n:<18.2f}")

|        predicted        |   label    |     AE     |
|   27.89   +/-   0.32    |   18.70    |    9.19    |
|   27.89   +/-   0.32    |   25.20    |    2.69    |
|    0.00   +/-  11.66    |    0.00    |    0.00    |
|   10.86   +/-   1.82    |   18.70    |    7.84    |
|   10.86   +/-   1.82    |   29.80    |   18.94    |

               MAE: 7.73

In [10]:
for i in test_indexes:
  asktell.tell(prompts[i], labels[i])

In [13]:
cloudpickle.dump(asktell, open('asktell.pkl', 'wb'))

### Running the Bayesian optimization

In [ ]:
# asktell = bolift.AskTellFewShotTopk(
#     prefix="The following are correctly answered questions about H2 production by Shewanella oneidensis MR-1 and quantum dots. " \
#           " Each answer should be numeric and ends with ###",
#     x_formatter=lambda x: f"the experimental procedure: {x}",
#     y_name="H2 production",
#     y_formatter=lambda y: f"{y:.2f}",
#     model="gpt-4",
#     selector_k=5,
#     temperature=0.7
# )

# for p, l in zip(prompts, labels):
#   asktell.tell(p, l)

In [14]:
asktell = cloudpickle.load(open("./asktell.pkl", "rb"))
pool = cloudpickle.load(open("./pool.pkl", "rb"))

In [15]:
asktell.ask(pool, "probability_of_improvement", 5)

(['DmtrADomcADmtrC Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdS quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 5 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DomcADmtrC Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 45 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhyaBDmtrC Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdSe quantum dots capped with Cys (cystine) in an anaerobic minimum medium solution containing 20 mM lactate at 45 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhydADhyaB Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdTe quantum dots capped with GSH (glutathione) in an anaerobic minimum medium solution containing 20 mM lactate at 5 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DmtrADomcA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.'],
 [0.0, 0.0, 0.0, 0.0, 0.0],
 [4.7780000000000005, 6.276000000000002, 15.340000000000002, 2.32, 6.224])

In [16]:
asktell.ask(pool, "expected_improvement", 5)

Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'

(['DhyaADhydADomcA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdS quantum dots capped with Cys (cystine) in an anaerobic minimum medium solution containing 20 mM lactate at 5 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhydA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 45 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhyaBDmtrC Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdTe quantum dots capped with Nothing in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DcymADomcADmtrC Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with0.5 uM CdTe quantum dots capped with Cys (cystine) in an anaerobic minimum medium solution containing 20 mM lactate at 5 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaBDmtrADmtrC Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdTe quantum dots capped with Nothing in an anaerobic minimum medium solution containing 20 mM lactate at 45 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.'],
 [6.07, 3.039999999999999, 7.590021221315504e-06, 0.0, 0.0],
 [37.5, 41.67, 0.0, 4.598, 9.538])

In [17]:
asktell.ask(pool, "greedy", 5)

Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for default-gpt-4 in organization org-zVzDC0J6UhWoGf9pmQAfuLud on tokens per min. Limit: 40000 / min. Please try again in 1ms. Contact us through our help center at help.openai.com if you continue to have issues..
Error in OpenAICallbackHandler.on_retry callback: 'OpenAICallbackHandler' object has no attribute 'on_retry'

(['DhyaADhydA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhydA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhydA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhydA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.',
  'DhyaADhydA Shewanella oneidensis MR-1 (initial OD600 0.05) were cultured with1 uM CdSe quantum dots capped with MPA (3-mercaptopropionic acid) in an anaerobic minimum medium solution containing 20 mM lactate at 25 ÂºC. Cultures were irradiated with 530 nm LEDs for 1 week.'],
 [27.3, 27.3, 27.3, 27.3, 27.3],
 [34.09, 34.09, 34.09, 34.09, 34.09])